In [2]:
import pandas as pd
from pathlib import Path

# Unikke stier
BOOKINGER_PATH = Path(r"C:\Users\kfq6\Documents\Data\Bookinger.xlsx")
LABKA_PATH = Path(r"C:\Users\kfq6\Documents\Data\LABKA.xlsx")
POP_PATH = Path(r"C:\Users\kfq6\Documents\Data\Population.xlsx")
WHO5_PATH = Path(r"C:\Users\kfq6\Documents\Data\WHO-5 (PRO).xlsx")

# Læs hver fil én gang, for at undgå gentagen læsning (tage meget hukkeplads)
bookinger_df = pd.read_excel(BOOKINGER_PATH, engine="openpyxl")
labka_df = pd.read_excel(LABKA_PATH, engine="openpyxl")
population_df = pd.read_excel(POP_PATH, engine="openpyxl")
who5_df = pd.read_excel(WHO5_PATH, engine="openpyxl")

c:\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
print(f"Kombineret dataframe: {bookinger_df.shape[0]} rækker, {bookinger_df.shape[1]} kolonner")

print(f"Kombineret dataframe: {labka_df.shape[0]} rækker, {labka_df.shape[1]} kolonner")

print(f"Kombineret dataframe: {population_df.shape[0]} rækker, {population_df.shape[1]} kolonner")

print(f"Kombineret dataframe: {who5_df.shape[0]} rækker, {who5_df.shape[1]} kolonner")

Kombineret dataframe: 207222 rækker, 24 kolonner
Kombineret dataframe: 419010 rækker, 22 kolonner
Kombineret dataframe: 2837 rækker, 32 kolonner
Kombineret dataframe: 4330 rækker, 7 kolonner

In [4]:
# Tilføj kolonne for kilde
bookinger_df["Kilde"] = "Bookinger"
labka_df["Kilde"] = "LABKA"
population_df["Kilde"] = "Population"
who5_df["Kilde"] = "WHO-5 (PRO)"

# Konkatter alle sammen
combined_df = pd.concat(
    [bookinger_df, labka_df, population_df, who5_df],
    ignore_index=True
)

print(f"Kombineret dataframe: {combined_df.shape[0]} rækker, {combined_df.shape[1]} kolonner")
print(combined_df["Kilde"].value_counts())

Kombineret dataframe: 633399 rækker, 75 kolonner
Kilde
LABKA          419010
Bookinger      207222
WHO-5 (PRO)      4330
Population       2837
Name: count, dtype: int64

In [5]:
combined_df.head()

,CPRNummer,DW_SK_BookingAftale,DW_SK_Kontakt,DW_SK_Forloeb,Aftale_OID,DW_EK_Borger,DW_SK_Borger,Dato_MoedeDato,Klok_MoedeTid,Dato_SenesteAendring,...,DiagnoseNiveau6KodeTekst,DiagnoseNiveau7KodeTekst,DiagnoseNiveau8KodeTekst,DiagnoseNiveau9KodeTekst,NyesteKontakt,Patientid,WHO5_score,WHO5_fortolkning,Dato_Spoergeskema_Oprettelse,Dato_Besoeg
0,_x0032_810067007,80.0,525320.0,8291.0,1000088.0,1176624,8734805.0,2022-09-13,37800.0,2023-03-15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,_x0032_401691254,125.0,-1.0,NaN,100014.0,978466,7260137.0,NaT,NaN,2023-03-15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
2,_x0031_109550899,180.0,-1.0,NaN,100021.0,457574,3384865.0,NaT,NaN,2023-03-15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,_x0032_904861610,199.0,-1.0,NaN,100023.0,1197215,8888181.0,NaT,NaN,2023-12-18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,_x0031_208661392,208.0,-1.0,NaN,100024.0,496595,3676950.0,NaT,NaN,2023-03-15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT

In [6]:
cols_to_drop = [
    "CPRNummer",
    "DW_SK_Borger1",
    "DW_SK_Kontakt",
    "DW_SK_Forloeb",
    "DW_SK_Helbredsforloeb",
    "Encounter_ID",
    "DW_SK_RekvSvar",
    "ORDINV_ID",
    "REQUISITION_NR",
    "Dato_Svartid",
    "Klok_Svartid",
    "Analysenummer",
    "INVER_ID",
    "Analysekode",
    "NPUKode",
    "Kilde",
    "TillaegsdiagnoseTilhoerer",
    "DiagnoseKode",
    "Svartype_Tekst",
    "AntalRaekker",
    "Internt_Svar_Numerisk",
    "DiagnoseNiveau1KodeTekst",
    "DiagnoseNiveau2KodeTekst",
    "DiagnoseNiveau3KodeTekst",
    "DiagnoseNiveau4KodeTekst",
    "DiagnoseNiveau5KodeTekst",
    "DiagnoseNiveau6KodeTekst",
    "DiagnoseNiveau7KodeTekst",
    "DiagnoseNiveau8KodeTekst",
    "DiagnoseNiveau9KodeTekst",
    "Aftale_OID",
    "DW_SK_Borger",
    "YderligereInfo",
    "ShakKode_BookendeAfdeling",
    "ShakTekst_BookendeAfdeling",
    "ShakKode_UdfoerendeAfdeling",
    "ShakSghKodeTekst_UdfoerendeAfdel",
    "ShakAfdKodeTekst_UdfoerendeAfdel",
    "ShakAfsKodeTekst_UdfoerendeAfdel",
    "ShakGeoKodeTekst_UdfoerendeAfdel",
    "RegionKodeTekst_Borger",
    "KommuneKodeTekst_Borger"
]

# Drop kolonnerne – errors='ignore' gør at den ikke fejler, hvis en kolonne ikke findes
combined_df = combined_df.drop(columns=cols_to_drop, errors='ignore')

print(f"Tilbageværende kolonner: {len(combined_df.columns)}")
print(combined_df.columns.tolist())

Tilbageværende kolonner: 33
['DW_SK_BookingAftale', 'DW_EK_Borger', 'Dato_MoedeDato', 'Klok_MoedeTid', 'Dato_SenesteAendring', 'BookingStatusKode', 'BookingStatusTekst', 'Angaaende', 'Alder_Proevetagningstid', 'Dato_Proevetagningstid', 'Klok_Proevetagningstid', 'Analysenavn', 'Svar', 'Enhed', 'NyesteResultatAnalyse', 'Over70', 'Alder_KontaktStart', 'Dato_ForloebStart', 'Dato_ForloebSlut', 'Dato_KontaktStart', 'Dato_KontaktSlut', 'StatusForloebselement', 'KontaktType', 'ShakAfdKodeTekst_KontaktAnsvar', 'Aktionsdiagnosegruppe', 'DiagnoseType', 'DiagnoseKodeTekst', 'NyesteKontakt', 'Patientid', 'WHO5_score', 'WHO5_fortolkning', 'Dato_Spoergeskema_Oprettelse', 'Dato_Besoeg']

In [8]:
combined_df.head()

,DW_SK_BookingAftale,DW_EK_Borger,Dato_MoedeDato,Klok_MoedeTid,Dato_SenesteAendring,BookingStatusKode,BookingStatusTekst,Angaaende,Alder_Proevetagningstid,Dato_Proevetagningstid,...,ShakAfdKodeTekst_KontaktAnsvar,Aktionsdiagnosegruppe,DiagnoseType,DiagnoseKodeTekst,NyesteKontakt,Patientid,WHO5_score,WHO5_fortolkning,Dato_Spoergeskema_Oprettelse,Dato_Besoeg
0,80.0,1176624,2022-09-13,37800.0,2023-03-15,2.0,Afviklet,Diabeteskontrol,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,125.0,978466,NaT,NaN,2023-03-15,3.0,Slettet,Øjendryp_x0020__x0028_SAM_x0029_,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
2,180.0,457574,NaT,NaN,2023-03-15,3.0,Slettet,Screeningssamtale_x0020_med_x0020_diabetessyge...,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,199.0,1197215,NaT,NaN,2023-12-18,3.0,Slettet,Screeningssamtale_x0020_med_x0020_diabetessyge...,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,208.0,496595,NaT,NaN,2023-03-15,3.0,Slettet,Screeningssamtale_x0020_med_x0020_diabetessyge...,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT

In [10]:
combined_df = combined_df.sort_values(by="DW_EK_Borger").reset_index(drop=True)

# Tjek resultatet
print(combined_df.head(20))

    DW_SK_BookingAftale  DW_EK_Borger Dato_MoedeDato  Klok_MoedeTid  \
0                   NaN          2611            NaT            NaN
1                   NaN          2611            NaT            NaN
2             1300274.0          2611     2022-07-26        67500.0
3             1294454.0          2611     2022-07-06        52200.0
4             1294453.0          2611     2022-07-06        51900.0
5             5718153.0          2611            NaT            NaN
6             5718154.0          2611            NaT            NaN
7             5718155.0          2611            NaT            NaN
8             5719306.0          2611     2024-11-15        28800.0
9             1292974.0          2611            NaT            NaN
10            4945963.0          2611     2024-09-26        34800.0
11                  NaN          2611            NaT            NaN
12                  NaN          2611            NaT            NaN
13                  NaN          2611            NaT            NaN
14             961349.0          2611     2022-06-23        33300.0
15                  NaN          2611            NaT            NaN
16                  NaN          2611            NaT            NaN
17                  NaN          2611            NaT            NaN
18             965703.0          2611     2022-06-22        72900.0
19                  NaN          2611            NaT            NaN

   Dato_SenesteAendring  BookingStatusKode BookingStatusTekst  \
0                   NaT                NaN                NaN
1                   NaT                NaN                NaN
2            2023-03-15                2.0           Afviklet
3            2023-03-15                2.0           Afviklet
4            2023-03-15                2.0           Afviklet
5            2025-04-10                4.0         Huskeliste
6            2025-04-22                4.0         Huskeliste
7            2025-04-04                4.0         Huskeliste
8            2024-11-15                2.0           Afviklet
9            2023-03-15                3.0            Slettet
10           2024-09-26                2.0           Afviklet
11                  NaT                NaN                NaN
12                  NaT                NaN                NaN
13                  NaT                NaN                NaN
14           2023-03-15                2.0           Afviklet
15                  NaT                NaN                NaN
16                  NaT                NaN                NaN
17                  NaT                NaN                NaN
18           2023-03-15                2.0           Afviklet
19                  NaT                NaN                NaN

                                            Angaaende  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                         Lægekontrol
6                      Sygeplejerske_x0020_vejledning
7                                                  ØB
8                                Sygeplejerskekontrol
9   Kontrol_x0020_-_x0020__x0020_IDRÆT_x002C__x002...
10                     Måling_x0020_af_x0020_blodtryk
11                                                NaN
12                                                NaN
13                                                NaN
14  Forundersøgelse_x0020_-_x0020__x0020_IDRÆT_x00...
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN

    Alder_Proevetagningstid Dato_Proevetagningstid  ...  \
0                      57.0             2023-12-15  ...
1                      57.0             2023-03-16  ...
2                       NaN                    NaT  ...
3                       NaN                    NaT  ...
4                       NaN                    NaT  ...
5                       NaN                    NaT  ...
6                       NaN                    NaT  ...
7                       NaN                    NaT  ...
8                       NaN                    NaT  ...
9                       NaN                    NaT  ...
10                      NaN                    NaT  ...
11                     58.0             2024-12-11  ...
12                     57.0             2023-08-11  ...
13                     59.0             2025-01-29  ...
14                      NaN                    NaT  ...
15                     56.0             2022-12-08  ...
16                     56.0             2022-09-21  ...
17                     59.0             2025-08-07  ...
18                      NaN                    NaT  ...
19                     59.0             2025-04-02  ...

   ShakAfdKodeTekst_KontaktAnsvar Aktionsdiagnosegruppe DiagnoseType  \
0                             NaN                   NaN          NaN
1                             NaN                   NaN          NaN
2                             NaN                   NaN          NaN
3                             NaN                   NaN          NaN
4                             NaN                   NaN          NaN
5                             NaN                   NaN          NaN
6                             NaN                   NaN          NaN
7                             NaN                   NaN          NaN
8                             NaN                   NaN          NaN
9                             NaN                   NaN          NaN
10                            NaN                   NaN          NaN
11                            NaN                   NaN          NaN
12                            NaN                   NaN          NaN
13                            NaN                   NaN          NaN
14                            NaN                   NaN          NaN
15                            NaN                   NaN          NaN
16                            NaN                   NaN          NaN
17                            NaN                   NaN          NaN
18                            NaN                   NaN          NaN
19                            NaN                   NaN          NaN

   DiagnoseKodeTekst  NyesteKontakt  Patientid  WHO5_score WHO5_fortolkning  \
0                NaN            NaN        NaN         NaN              NaN
1                NaN            NaN        NaN         NaN              NaN
2                NaN            NaN        NaN         NaN              NaN
3                NaN            NaN        NaN         NaN              NaN
4                NaN            NaN        NaN         NaN              NaN
5                NaN            NaN        NaN         NaN              NaN
6                NaN            NaN        NaN         NaN              NaN
7                NaN            NaN        NaN         NaN              NaN
8                NaN            NaN        NaN         NaN              NaN
9                NaN            NaN        NaN         NaN              NaN
10               NaN            NaN        NaN         NaN              NaN
11               NaN            NaN        NaN         NaN              NaN
12               NaN            NaN        NaN         NaN              NaN
13               NaN            NaN        NaN         NaN              NaN
14               NaN            NaN        NaN         NaN              NaN
15               NaN            NaN        NaN         NaN              NaN
16               NaN            NaN        NaN         NaN              NaN
17               NaN            NaN        NaN         NaN              NaN
18               NaN            NaN        NaN         NaN              NaN
19               NaN            NaN        NaN         NaN              NaN

    Dato_Spoergeskema_Oprettelse Dato_Besoeg
0                            NaT         NaT
1                            NaT         NaT
2                            NaT         NaT
3                            NaT         NaT
4                            NaT         NaT
5                            NaT         NaT
6                            NaT         NaT
7                            NaT         NaT
8                            NaT         NaT
9                            NaT         NaT
10                           NaT         NaT
11                           NaT         NaT
12                           NaT         NaT
13                           NaT         NaT
14                           NaT         NaT
15                           NaT         NaT
16                           NaT         NaT
17                           NaT         NaT
18                           NaT         NaT
19                           NaT         NaT

[20 rows x 33 columns]