In [54]:
import pandas as pd
from pathlib import Path

# Load the wide dataset
path = Path(r"C:\Users\kfq6\Documents\Data\LABKA_wide_rawSvar.xlsx")
df = pd.read_excel(path)

path = Path(r"C:\Users\kfq6\Documents\Data\LABKA_wide_rawSvar.xlsx")
df = pd.read_excel(path, dtype=str)  # read everything as string first

# Decode Excel-style XML escapes like _x0038_ → 8, _x002C_ → ,
def decode_excel_xml(s):
    if not isinstance(s, str):
        return s
    return re.sub(r"_x([0-9A-Fa-f]{4})_", lambda m: chr(int(m.group(1), 16)), s)

df = df.applymap(decode_excel_xml)

C:\Users\kfq6\AppData\Local\Temp\37\ipykernel_80720\344398136.py:17: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(decode_excel_xml)

In [55]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57480 entries, 0 to 57479
Data columns (total 22 columns):
 #   Column                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                       --------------  -----
 0   DW_EK_Borger                                                                                                 57480 non-null  object
 1   Testdato                                                                                                     57480 non-null  object
 2   Alder_Proevetagningstid                                                                                      57480 non-null  object
 3   Dato_Proevetagningstid                                                                                       57480 non-null  object
 4   Klok_Proevetagningstid                                                                                       57480 non-null  object
 5   B-Hæmoglobin_[mmol_x002F_l]                                                                                  41061 non-null  object
 6   Hb_x0028_B_x0029_-Hæmoglobin_x0020_A1c_x0020__x0028_IFCC_x0029__[mmol_x002F_mol]                             25832 non-null  object
 7   P-25-Hydroxy-Vitamin_x0020_D_x0028_D3_x002B_D2_x0029__[nmol_x002F_l]                                         4164 non-null   object
 8   P-Albumin_[g_x002F_l]                                                                                        25665 non-null  object
 9   P-Calcium_[mmol_x002F_l]                                                                                     19269 non-null  object
 10  P-Calcium_x0020__x0028_albuminkorrigeret_x0029__[mmol_x002F_l]                                               19269 non-null  object
 11  P-Kalium_[mmol_x002F_l]                                                                                      42109 non-null  object
 12  P-Kolesterol_[mmol_x002F_l]                                                                                  15427 non-null  object
 13  P-Kolesterol_x0020_HDL_[mmol_x002F_l]                                                                        15382 non-null  object
 14  P-Kolesterol_x0020_LDL_[mmol_x002F_l]                                                                        15043 non-null  object
 15  P-Kreatinin_[_x00B5_mol_x002F_l]                                                                             45962 non-null  object
 16  P-Natrium_[mmol_x002F_l]                                                                                     41643 non-null  object
 17  P-Triglycerid_[mmol_x002F_l]                                                                                 15057 non-null  object
 18  P-Vitamin_x0020_B12_[pmol_x002F_l]                                                                           13397 non-null  object
 19  U-Albumin_x0020__x002F__x0020_Kreatinin-ratio_[_x00D7__x0020_10_x003C_sup_x003E_-3_x003C__x002F_sup_x003E_]  2039 non-null   object
 20  U-Albumin_x0020__x002F__x0020_Kreatinin-ratio_[mg_x002F_g]                                                   10526 non-null  object
 21  eGFR_x0020__x002F__x0020_1_x002C_73m_x00B2__x0028_CKD-EPI_x0029__[ml_x002F_min]                              45947 non-null  object
dtypes: object(22)
memory usage: 9.6+ MB
None

In [56]:
df.head()

,DW_EK_Borger,Testdato,Alder_Proevetagningstid,Dato_Proevetagningstid,Klok_Proevetagningstid,B-Hæmoglobin_[mmol_x002F_l],Hb_x0028_B_x0029_-Hæmoglobin_x0020_A1c_x0020__x0028_IFCC_x0029__[mmol_x002F_mol],P-25-Hydroxy-Vitamin_x0020_D_x0028_D3_x002B_D2_x0029__[nmol_x002F_l],P-Albumin_[g_x002F_l],P-Calcium_[mmol_x002F_l],...,P-Kolesterol_[mmol_x002F_l],P-Kolesterol_x0020_HDL_[mmol_x002F_l],P-Kolesterol_x0020_LDL_[mmol_x002F_l],P-Kreatinin_[_x00B5_mol_x002F_l],P-Natrium_[mmol_x002F_l],P-Triglycerid_[mmol_x002F_l],P-Vitamin_x0020_B12_[pmol_x002F_l],U-Albumin_x0020__x002F__x0020_Kreatinin-ratio_[_x00D7__x0020_10_x003C_sup_x003E_-3_x003C__x002F_sup_x003E_],U-Albumin_x0020__x002F__x0020_Kreatinin-ratio_[mg_x002F_g],eGFR_x0020__x002F__x0020_1_x002C_73m_x00B2__x0028_CKD-EPI_x0029__[ml_x002F_min]
0,2611,2022-02-10 00:00:00,56,2022-02-10 00:00:00,1960-01-01 07:25:00,"8,5",51,NaN,35,"2,14",...,NaN,NaN,NaN,164,141,NaN,NaN,"803,7",NaN,40
1,2611,2022-06-02 00:00:00,56,2022-06-02 00:00:00,1960-01-01 07:19:00,"8,8",74,NaN,39,"2,34",...,"5,6","0,92","Ikke beregnet, da Tgly > 4,5 mmol/l",148,138,"4,7",NaN,"1653,2",NaN,45
2,2611,2022-06-09 00:00:00,56,2022-06-09 00:00:00,1960-01-01 11:57:00,"9,2",NaN,NaN,44,"2,46",...,NaN,NaN,NaN,149,139,NaN,NaN,NaN,NaN,45
3,2611,2022-08-18 00:00:00,56,2022-08-18 00:00:00,1960-01-01 07:31:00,"8,6",111,NaN,38,"2,29",...,"5,7","0,86","Ikke beregnet, da Tgly > 4,5 mmol/l",147,138,"5,0",NaN,"1843,8",NaN,45
4,2611,2022-09-21 00:00:00,56,2022-09-21 00:00:00,1960-01-01 07:17:00,NaN,112,NaN,NaN,NaN,...,"5,4","0,93","2,8",151,138,"3,6",164,NaN,2447,44

In [57]:
# Columns that should stay as-is
# -----------------------------
meta_cols = ["DW_EK_Borger", "Testdato", "Alder_Proevetagningstid",
             "Dato_Proevetagningstid", "Klok_Proevetagningstid"]

# -----------------------------
# Fix decimal commas and coerce to numeric for all non-meta columns
# -----------------------------
num_df = df.copy()

for c in num_df.columns:
    if c not in meta_cols:
        # Replace comma decimals with dot
        num_df[c] = num_df[c].astype(str).str.replace(",", ".", regex=False)
        # Optional: strip whitespace
        num_df[c] = num_df[c].str.strip()
        # Convert to numeric (anything non-numeric becomes NaN)
        num_df[c] = pd.to_numeric(num_df[c], errors='coerce')

print("\nTypes after numeric coercion:")
print(num_df.info())

# -----------------------------
# Date parsing + basic cleaning
# -----------------------------
ID_COL = "DW_EK_Borger"
DATE_COL = "Testdato"

num_df[DATE_COL] = pd.to_datetime(num_df[DATE_COL], errors="coerce")
num_df = num_df.dropna(subset=[ID_COL, DATE_COL]).sort_values([ID_COL, DATE_COL]).reset_index(drop=True)

# Only keep numeric lab columns (exclude meta/date)
lab_cols = [c for c in num_df.columns
            if c not in meta_cols and pd.api.types.is_numeric_dtype(num_df[c])]

if not lab_cols:
    raise ValueError("No numeric lab columns detected after coercion. Check your input and parsing.")

Types after numeric coercion:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57480 entries, 0 to 57479
Data columns (total 22 columns):
 #   Column                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                       --------------  -----
 0   DW_EK_Borger                                                                                                 57480 non-null  object
 1   Testdato                                                                                                     57480 non-null  object
 2   Alder_Proevetagningstid                                                                                      57480 non-null  object
 3   Dato_Proevetagningstid                                                                                       57480 non-null  object
 4   Klok_Proevetagningstid                                                                                       57480 non-null  object
 5   B-Hæmoglobin_[mmol_x002F_l]                                                                                  40994 non-null  float64
 6   Hb_x0028_B_x0029_-Hæmoglobin_x0020_A1c_x0020__x0028_IFCC_x0029__[mmol_x002F_mol]                             25757 non-null  float64
 7   P-25-Hydroxy-Vitamin_x0020_D_x0028_D3_x002B_D2_x0029__[nmol_x002F_l]                                         4151 non-null   float64
 8   P-Albumin_[g_x002F_l]                                                                                        25643 non-null  float64
 9   P-Calcium_[mmol_x002F_l]                                                                                     19253 non-null  float64
 10  P-Calcium_x0020__x0028_albuminkorrigeret_x0029__[mmol_x002F_l]                                               19251 non-null  float64
 11  P-Kalium_[mmol_x002F_l]                                                                                      41851 non-null  float64
 12  P-Kolesterol_[mmol_x002F_l]                                                                                  15416 non-null  float64
 13  P-Kolesterol_x0020_HDL_[mmol_x002F_l]                                                                        15365 non-null  float64
 14  P-Kolesterol_x0020_LDL_[mmol_x002F_l]                                                                        14310 non-null  float64
 15  P-Kreatinin_[_x00B5_mol_x002F_l]                                                                             45921 non-null  float64
 16  P-Natrium_[mmol_x002F_l]                                                                                     41606 non-null  float64
 17  P-Triglycerid_[mmol_x002F_l]                                                                                 15042 non-null  float64
 18  P-Vitamin_x0020_B12_[pmol_x002F_l]                                                                           13103 non-null  float64
 19  U-Albumin_x0020__x002F__x0020_Kreatinin-ratio_[_x00D7__x0020_10_x003C_sup_x003E_-3_x003C__x002F_sup_x003E_]  1507 non-null   float64
 20  U-Albumin_x0020__x002F__x0020_Kreatinin-ratio_[mg_x002F_g]                                                   7859 non-null   float64
 21  eGFR_x0020__x002F__x0020_1_x002C_73m_x00B2__x0028_CKD-EPI_x0029__[ml_x002F_min]                              29704 non-null  float64
dtypes: float64(17), object(5)
memory usage: 9.6+ MB
None

In [58]:
num_df.head()

,DW_EK_Borger,Testdato,Alder_Proevetagningstid,Dato_Proevetagningstid,Klok_Proevetagningstid,B-Hæmoglobin_[mmol_x002F_l],Hb_x0028_B_x0029_-Hæmoglobin_x0020_A1c_x0020__x0028_IFCC_x0029__[mmol_x002F_mol],P-25-Hydroxy-Vitamin_x0020_D_x0028_D3_x002B_D2_x0029__[nmol_x002F_l],P-Albumin_[g_x002F_l],P-Calcium_[mmol_x002F_l],...,P-Kolesterol_[mmol_x002F_l],P-Kolesterol_x0020_HDL_[mmol_x002F_l],P-Kolesterol_x0020_LDL_[mmol_x002F_l],P-Kreatinin_[_x00B5_mol_x002F_l],P-Natrium_[mmol_x002F_l],P-Triglycerid_[mmol_x002F_l],P-Vitamin_x0020_B12_[pmol_x002F_l],U-Albumin_x0020__x002F__x0020_Kreatinin-ratio_[_x00D7__x0020_10_x003C_sup_x003E_-3_x003C__x002F_sup_x003E_],U-Albumin_x0020__x002F__x0020_Kreatinin-ratio_[mg_x002F_g],eGFR_x0020__x002F__x0020_1_x002C_73m_x00B2__x0028_CKD-EPI_x0029__[ml_x002F_min]
0,1000342,2022-06-15,38,2022-06-15 00:00:00,1960-01-01 09:02:00,NaN,53.0,53.0,NaN,NaN,...,4.6,1.4,2.9,73.0,140.0,0.8,446.0,NaN,NaN,NaN
1,1000342,2023-03-29,39,2023-03-29 00:00:00,1960-01-01 08:20:00,NaN,55.0,NaN,NaN,NaN,...,4.2,1.3,2.4,73.0,138.0,1.1,408.0,NaN,NaN,NaN
2,1000342,2024-06-05,40,2024-06-05 00:00:00,1960-01-01 08:33:00,9.8,62.0,NaN,NaN,NaN,...,4.4,1.4,2.5,75.0,140.0,1.0,446.0,NaN,NaN,NaN
3,1000342,2024-10-11,41,2024-10-11 00:00:00,1960-01-01 13:57:00,9.7,63.0,62.0,NaN,NaN,...,4.5,1.5,2.5,102.0,142.0,1.1,531.0,NaN,108.0,78.0
4,1000342,2025-10-10,42,2025-10-10 00:00:00,1960-01-01 10:39:00,9.5,50.0,NaN,NaN,NaN,...,4.0,1.4,2.2,82.0,142.0,0.8,497.0,NaN,NaN,NaN